/* Импорт Bootstrap */
@import "bootstrap";


/* universal */
body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #6c757d; /* gray-600 */
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: white;
    text-decoration: none;
}

/* footer */
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #dee2e6; /* gray-300 */
    color: #6c757d; /* gray-600 */
}

footer a {
    color: #6c757d; /* gray-600 */
}

footer a:hover {
    color: #212529; /* gray-900 */
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

/* ДОБАВЛЯЕМ НОВЫЕ СТИЛИ ДЛЯ РЕГИСТРАЦИИ */

/* debug dump */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #f8f9fa;
    padding: 10px;
    border: 1px solid #dee2e6;
}

/* sidebar */
aside section.user_info {
    margin-top: 20px;
}

aside section {
    padding: 10px 0;
    margin-top: 20px;
}

aside section:first-child {
    border: 0;
    padding-top: 0;
}

aside section span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
}

aside section h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
}

.gravatar {
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}

.gravatar_edit {
    margin-top: 15px;
}

/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
}

input {
    height: auto !important;
}

/* error messages */
#error_explanation {
    color: #dc3545;
}

#error_explanation ul {
    color: #dc3545;
    margin: 0 0 30px 0;
    padding-left: 20px;
}

.field_with_errors .form-control {
    border-color: #dc3545;
}

.field_with_errors .form-control:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/* flash messages */
.alert {
    margin-top: 20px;
    padding: 15px;
    border-radius: 4px;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}